.habitContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
  background-color: black;
  padding: 1rem;
  border-radius: 30px;
  width: 80%;
  max-width: 1000px;
  height: 50px;
  margin: 1rem;
  box-shadow: 0px 0px 10px 10px lightgray;
}

.habitContainer:hover {
  background-color: rgb(37, 36, 36);
}
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  margin-left: 2rem;
}

.nameCountContainer {
  display: flex;
  flex-direction: column;
  color: bisque;
  margin-left: 2rem;
}

.name {
  color: yellowgreen;
  margin: 0.5rem 0;
}
.count {
  font-size: 10px;
  margin-bottom: 1 rem;
}
.delete {
  background-color: transparent;
  border: 0;
  /* width: 1.5rem;
  height: 1.5rem; */
}
.delete img {
  width: 1.25rem;
  height: 1.25rem;
}

/* Habit Week Styles */
.habitWeekContainer {
  background-color: black;
  flex-direction: column;
  height: auto;
}

.dayBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}
.dayContainer {
  background-color: yellowgreen;
  box-shadow: 0px 0px 4px 4px rgb(39, 38, 38);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  max-height: 60px;
  width: 95%;
  text-align: center;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.dayContainer:hover{
  cursor: pointer;
}

.weekContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.5rem;
  width: 98%;
}

.day {
  font-size: 0.9rem;
  font-weight: 800;
  color: aliceblue;
}

.date {
  font-size: 0.8rem;
}

.actionContainer {
  background-color: grey;
  width: 60%;
  max-width: 150px;
  height: 5%;
  position: fixed;
  bottom: 2%;
  /* left: 20%; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  flex-direction: column;
  margin: 1rem 0;
  justify-self: center;
  font-size: 0.8rem;
}
.actionIcon {
  background-color: transparent;
  border: 0;
}

.actionIcon img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
}

.btngrp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.25rem;
}

@media screen and (max-width: 450px) {
  /* .dayContainer {
    width: 60%;
    height: 80px;
  } */
  .habitWeekContainer {
    width: 90%;
    padding: 0.75rem;
  }

  .actionContainer{
    /* bottom: 0px; */
    font-size: 0.8rem;
    /* top: 210px; */
    left: 25%;
  }
}

@media screen and (max-width: 565px) {
  .dayContainer {
    /* width: 60%; */
    /* height: 110px; */
    padding: 0.35rem;
  }
  .date{
    font-size: 0.7rem;
  }
  .day{
    font-size: 0.8rem;
  }
  .actionIcon img{
    width: 1rem;
    height: 1rem;
  }

  .actionContainer{
    font-size: 0.7rem;
  }
  /* .habitWeekContainer {
    width: 92.5%;
    padding: 1rem 0.25rem;
  }
  .btngrp {
    justify-content: space-around;
    width: 90%;
    flex-direction: column;
  }
  .actionIcon {
    padding: 0;
    margin-bottom: 0.25rem;
  } */
}
