.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25rem 2rem;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0px;
    height:60px;
}
.logo{
    color: yellowgreen;
    margin: 0.5rem 0 ;
}
.btngrp{
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    align-items: center;
}
.btngrp button {
    border: 0;
    margin: 0 1rem;
    color: aliceblue;
    border-radius: 20px;
    padding: 0 0.75rem;
    font-size: 0.8rem;
    height: 40px;
}

.toggleButton{
    background-color:purple;
}

.addButton{
    background-color: blue;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:500px) {
    .btngrp button{
        margin: 0 0.25rem;
        padding: 0 0.5rem;
        font-size: 0.6rem;
    }
    .nav{
        padding: 0.25rem 1rem;
    }
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3e423c;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #858383;
  }